:root {
  /* --bgcolor: #12172f; */
  --bgcolor: black;
  --hover: pink;
  --btn: #06d3f6;
}

body {
  background-color: var(--bgcolor);
  color: white;
}

p {
  margin: 0;
}

h1 {
  margin-top: 0;
}

.container {
  width: 50%;
  margin: auto;

  padding-top: 5%;

  align-items: center;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  padding: 10px;
  background-color: #12172f;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
  margin: 10px;
  text-align: left;
  width: fit-content;
  min-width: 160px;
}

.option:hover {
  border: 1px solid var(--hover);
  color: var(--hover);
}

.quit-quiz {
  background-color: var(--hover);
  margin: 10px;
  padding: 10px;

  color: white;
  width: 150px;
  border-radius: 20px;
}

.next-prev {
  background-color: #da3768;
  margin: 10px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  width: 150px;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.next-prev:hover {
  background-color: pink;
  color: white;
}

.next-prev:disabled {
  background-color: var(--hover);
}

.btn {
  display: flex;
  justify-content: space-between;
}

.question {
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 25px;
}

.active {
  border: 1px solid var(--hover);
  color: var(--hover);
}

.home {
  margin: auto;
  width: 70%;
}

.home-heading {
  margin: 40px 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: monospace;
}

.start {
  padding: 20px;
  background-color: pink;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 40px 40% 0;
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: monospace;
}

.start:hover {
  color: white;
  background-color: #da3768;
}

.content {
  width: 50%;
  margin: 100px auto 0;
  background-color: pink;
  border-radius: 10px;
  padding: 20px 0;
  color: #12172f;
}

.RM-heading {
  text-align: center;
  font-size: 48px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: monospace;
  font-weight: bold;
}

.display-region {
  text-align: center;
  font-size: 28px;
}

h2 {
  margin: 10px;
}

.btn-reset {
  padding: 18px;
  border-radius: 10px;
  font-size: 20px;
  margin: 0 37.5%;
  width: 30%;
  border: none;
  color: #da3768;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: monospace;
}

.btn-reset:hover {
  background-color: #da3768;
  color: white;
}

.preload {
  margin: auto;
}

img {
  width: 50%;
  margin: 0 25%;
}

@media screen and (max-width: 1000px) {
  .start {
    width: 30%;
    margin: 40px 35% 0;
  }
}

@media screen and (max-width: 665px) {
  .start {
    padding: 15px;
    font-size: 20px;
    margin: 40px 30% 0;
    width: 40%;
  }

  .home {
    width: auto;
    margin: 0;
  }
}

@media screen and (max-width: 1110px) {
  .content {
    width: 70%;
  }
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 792px) {
  .content {
    width: 85%;
  }
  .btn-reset {
    width: 40%;
    margin: 0 30%;
  }
  .container {
    width: 90%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 567px) {
  .container {
    width: 95%;
  }
  .question {
    font-size: 20px;
  }

  .next-prev {
    width: 100px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 10px;
    font-weight: normal;
  }
}

@media screen and (max-width: 440px) {
  .content {
    width: 90%;
  }
  .btn-reset {
    width: 50%;
    margin: 0 25%;
  }
}
